/*--profile.css
member.html 丸いプロフィール画像
--*/
/*-------------------Doctor---------------------*/
 .doctor1-image {
  background-image: url("../image/profile_img/demo.png");  /* 表示する画像 */
  width:  150px;       /* ※縦横を同値に */
  height: 150px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: center;  /* 横長画像の左上を基準に表示 */
  display: inline-block;          /* 複数の画像を横に並べたい場合 */
}
.doctor2-image {
    background-image: url("../image/profile_img/river.png");  /* 表示する画像 */
    width:  150px;       /* ※縦横を同値に */
    height: 150px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
  }
  .doctor3-image {
    background-image: url("../image/profile_img/river1.png");  /* 表示する画像 */
    width:  150px;       /* ※縦横を同値に */
    height: 150px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
  }
  /*----------------Master---------------------*/
  .master1-image {
    background-image: url("../image/profile_img/liuqianyuan.jpg");  /* 表示する画像 */
    width:  150px;       /* ※縦横を同値に */
    height: 150px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
  }
  .master2-image {
    background-image: url("../image/profile_img/misaki_kodaira.jpg");  /* 表示する画像 */
    width:  150px;       /* ※縦横を同値に */
    height: 150px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
  }
  .master3-image {
    background-image: url("../image/profile_img/XUYihao.jpg");  /* 表示する画像 */
    width:  150px;       /* ※縦横を同値に */
    height: 150px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
  }
  /*----------------Bachelor---------------------*/
  .bachelor1-image {
      background-image: url("../image/profile_img/AndoNana.jpg");  /* 表示する画像 */
      width:  150px;       /* ※縦横を同値に */
      height: 150px;       /* ※縦横を同値に */
      border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
      background-position: center;  /* 横長画像の左上を基準に表示 */
      display: inline-block;          /* 複数の画像を横に並べたい場合 */
    }
    .bachelor2-image {
      background-image: url("../image/profile_img/UchidaJunya.jpg");  /* 表示する画像 */
      width:  150px;       /* ※縦横を同値に */
      height: 150px;       /* ※縦横を同値に */
      border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
      background-position: center;  /* 横長画像の左上を基準に表示 */
      display: inline-block;          /* 複数の画像を横に並べたい場合 */
    }
    .bachelor3-image {
      background-image: url("../image/profile_img/ono.jpg");  /* 表示する画像 */
      width:  150px;       /* ※縦横を同値に */
      height: 150px;       /* ※縦横を同値に */
      border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
      background-position: center;  /* 横長画像の左上を基準に表示 */
      display: inline-block;          /* 複数の画像を横に並べたい場合 */
    }
    .bachelor4-image {
        background-image: url("../image/profile_img/river.png");  /* 表示する画像 */
        width:  150px;       /* ※縦横を同値に */
        height: 150px;       /* ※縦横を同値に */
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        background-position: center;  /* 横長画像の左上を基準に表示 */
        display: inline-block;          /* 複数の画像を横に並べたい場合 */
      }
    .bachelor5-image {
          background-image: url("../image/profile_img/NakamuraTaisei.jpg");  /* 表示する画像 */
          width:  150px;       /* ※縦横を同値に */
          height: 150px;       /* ※縦横を同値に */
          border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
          background-position: center;  /* 横長画像の左上を基準に表示 */
          display: inline-block;          /* 複数の画像を横に並べたい場合 */
        }
    .bachelor6-image {
          background-image: url("../image/profile_img/river.png");  /* 表示する画像 */
          width:  150px;       /* ※縦横を同値に */
          height: 150px;       /* ※縦横を同値に */
          border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
          background-position: center;  /* 横長画像の左上を基準に表示 */
          display: inline-block;          /* 複数の画像を横に並べたい場合 */
        }
    .bachelor7-image {
          background-image: url("../image/profile_img/MiyajimaMasaki.png");  /* 表示する画像 */
          width:  150px;       /* ※縦横を同値に */
          height: 150px;       /* ※縦横を同値に */
          border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
          background-position: center;  /* 横長画像の左上を基準に表示 */
          display: inline-block;          /* 複数の画像を横に並べたい場合 */
        }
    .bachelor8-image {
          background-image: url("../image/profile_img/yuka.jpg");  /* 表示する画像 */
          width:  150px;       /* ※縦横を同値に */
          height: 150px;       /* ※縦横を同値に */
          border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
          background-position: center;  /* 横長画像の左上を基準に表示 */
          display: inline-block;          /* 複数の画像を横に並べたい場合 */
        }
    .bachelor9-image {
            background-image: url("../image/profile_img/river1.png");  /* 表示する画像 */
            width:  150px;       /* ※縦横を同値に */
            height: 150px;       /* ※縦横を同値に */
            border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
            background-position: center;  /* 横長画像の左上を基準に表示 */
            display: inline-block;          /* 複数の画像を横に並べたい場合 */
    }
/*-----------------------------------------*/