/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  top: 7px;
}
p {
  line-height: 2rem;
}

.adjust{
  line-height: 2.0;
  padding: 0.5em 0;
}

.box_simple{
color: #1c1d1f;
border-top: solid #0ad365 1px;/*＊上のボーダー*/
border-bottom: solid #0ad365 1px;/*＊下のボーダー*/
padding: 0.5em 0 0.5em 1.5em;
  
}

.box_blue{
	background: #f1f8ff; /*背景色*/
  color: #1e366a;
  border-top: solid #1e366a 1px;/*上のボーダー*/
  border-bottom: solid #1e366a 1px;/*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
	
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*nav fix*/
.fixed{
 position: fixed;
 z-index: 10000;
}

/*マウスホバーのポインター変更*/
.mouse-hover{
  cursor:pointer;
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
.slide-height {
   height:569px; 
}
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 600px) {
.pc { display: none !important; }
.sp { display: block !important; }
.slide-height {
   height:350px; 
}
}
